:root {
    --dark-color: #0038FF;
    --light-color: #00F0FF;
}

h1, p {
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    cursor: pointer;
}

#darkGroup {
    fill: var(--dark-color)!important;
}
#lightGroup {
    fill: var(--light-color);
}

#dark1, #light1, #dark2 {
    transition: all 1s ease;
}

#dark2 {
    transform: translateX(-100%);
}

svg:hover #light1 {
    transform: translateX(20%);
}

svg:hover #dark1 {
    transform: translateX(40%);
    opacity: 0;
}

svg:hover #dark2 {
    transform: translateX(0%);
}